html, body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    position: relative;
    /*grid-template-rows: repeat(auto-fill, 300px);*/
}
/*@media (max-width: 425px) {
    grid-template-columns: repeat(auto-fill, 50%);
}*/
.box1-imagen {
    margin: 155px 40% 155px 40%;
    width: 103px;
    height: 81px;
    background-image: url(http://www.quincy-requin-avocats.com/templates/quincy/img/matrix@2x.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-position-x: left top;
    background-size: 600px 200px;
    background-clip: content-box;
}
.box1 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: rgb(239, 239, 239);
}
.linea-25 {
    position: absolute;
    left: 25%;
    background-color: rgba(0,0,0,0.15);
    width: 1px;
    height: 1720px;
}
.linea-50 {
    position: absolute;
    left: 50%;
    background-color: rgba(0,0,0,0.15);
    width: 1px;
    height: 1720px;
}
.linea-75 {
    position: absolute;
    top: 0;
    left: 75%;
    background-color: rgba(0,0,0,0.15);
    width: 1px;
    height: 1720px;
}
.box2 {
    grid-column: span 2;
    grid-row: span 1;
    width: 100%;
    background-color: rgb(239, 239, 239);
    position: relative;
}
.box2-texto {
    font-size: 15px;
    line-height: 24px;
    color: #444;
    padding: 155px 20% 155px 20%;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-stretch: 100%;
    font-weight: 400;
}
.negrita {
    font-weight: bold;
}
.box3 {
    grid-column: span 3;
    grid-row: span 2;
}
.image {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(2, 50%);
    background-image: url(http://www.quincy-requin-avocats.com/assets/q85-p1/quincy_home_board.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.image-real {
    width: 100%;
}
.image-box0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25% 0 25% 0;
}
.image-box-titulo {
    color: transparent;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 50px;
    font-family: '77995aba';
    font-weight: bold;
    transform: translate(0, 0);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
}
.image-box-parrafo {
    margin: 15px 0 0 0;
    padding: 0 15%;
    line-height: 20px;
    color: transparent;
    overflow: hidden;
    text-align: center;
}
.image-box1 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: white;
    padding: 25% 0 25% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-box2 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    background-color: white;
    padding: 25% 0 25% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box4 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box-titulo {
    color: #853175;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 50px;
    font-family: '77995aba';
    font-weight: bold;
    transform: translate(0, 0);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
}
.box-parrafo {
    margin: 15px 0 0 0;
    padding: 0 15%;
    line-height: 20px;
    color: #666;
    overflow: hidden;
    text-align: center;
}
.box5 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #853175;
    font-family: Arimo, Helvetica, Arial;
}
.box5-titulo {
    color: white;
    letter-spacing: 0.06em;
    font: bold 15px/18px '8fb05367';
    text-transform: uppercase;
    text-align: center;
}
.box5-año {
    font-size: 70px;
    font-weight: bold;
    margin: 3px 0 5px;
    color: white;
}
.box5-lugar {
    color: white;
    letter-spacing: 0.06em;
    font: bold 15px/18px '8fb05367';
    text-transform: uppercase;
    text-align: center;
}
.box6 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25% 0;
}
.box7 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #853175;
    padding: 25% 0;
}
.box7-parrafo {
    margin: 15px 0 0 0;
    padding: 0 15%;
    line-height: 20px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    font: italic 18px/25px 'Times, Georgia, serif';
}
.box8 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(http://www.quincy-requin-avocats.com/assets/q85-p1/home_bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box9 {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
    background-color: rgb(239, 239, 239);
    padding: 25% 0;
    text-align: center;
}
.box9-parrafo {
    margin: 15px 0 0 0;
    padding: 0 15%;
    line-height: 20px;
    color: #fff;
    text-align: center;
    font: italic 18px/25px 'Times, Georgia, serif';
    color: transparent;
}
.box10 {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
    background-color: rgb(239, 239, 239);
    padding: 25% 0;
    text-align: center;
}
.box10-parrafo {
    margin: 15px 0 0 0;
    padding: 0 15%;
    line-height: 20px;
    color: #fff;
    text-align: center;
    font: italic 18px/25px 'Times, Georgia, serif';
    color: transparent;
}
.box11 {
    grid-column: span 4;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20% 70px;
}
.box11-titulo {
    padding: 100px 0px 25px;
    font: bold 16px/20px '77995aba';
    color: #4d4d4d;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.box11-parrafo {
    font: normal 47px/62px 'ac1cc8a3';
    color: #333;
}
.box11-cuadro {
    margin-top: 30px;
    padding: 18px 30px;
    font: bold 15px/18px '8fb05367';
    letter-spacing: 0.05em;
    border: 1px solid #a6a6a6;
    background-color: #fff;
    color: #4d4d4d;
    text-transform: uppercase;
}
.box12 {
    grid-column: span 4;
    grid-row: span 2
    z-index: 0;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    touch-action: pan-x pan-y;
}
.box13 {
    grid-column: span 2;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20% 70px;
    border-top: 4px solid #853175;
    border-right: 1px solid rgba(0,0,0,0.15);
}
.box13-ciudad {
    padding-bottom: 25px;
    margin: 24px 0;
    color: #853175;
    font-size: 29px;
    line-height: 29px;
}
.box13-lugar {
    font-weight: bold;
    color: #853175;
    text-transform: uppercase;
    margin: 20px 0 0;
    line-height: 20px;
}
.box13-lugar2 {
    font-weight: bold;
    color: #853175;
    text-transform: uppercase;
    line-height: 20px;
}
.box13-calle {
    line-height: 20px;
    color: #4d4d4d;
    margin-top: 1rem;
}
.box13-calle2 {
    line-height: 20px;
    color: #4d4d4d;
    margin-bottom: 1rem;
}
.box13-coordenadas {
    font-size: 20px;
    line-height: 20px;
}
.box14 {
    grid-column: span 2;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20% 70px; 
}
.box14-ciudad {
    padding-bottom: 25px;
    margin: 24px 0;
    color: #853175;
    font-size: 29px;
    line-height: 29px;
}
.box14-lugar {
    font-weight: bold;
    color: #853175;
    text-transform: uppercase;
    margin: 20px 0 0;
    line-height: 20px;
}
.box14-lugar2 {
    font-weight: bold;
    color: #853175;
    text-transform: uppercase;
    line-height: 20px;
}
.box14-calle {
    line-height: 20px;
    color: #4d4d4d;
    margin-top: 1rem;
}
.box14-calle2 {
    line-height: 20px;
    color: #4d4d4d;
    margin-bottom: 1rem;
}
.box14-coordenadas {
    font-size: 20px;
    line-height: 20px;
}
.box15 {
    grid-column: span 4;
    grid-row: span 2;
    background-color: rgb(239, 239, 239);
    padding: 110px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box15-titulo {
    margin: 0 0 35px 0;
    font: normal 12px/14px '77995aba';
    color: #666;
}
.box15-contacto {
    font: normal 30px/36px '77995aba';
    color: #4d4d4d;
    text-decoration: none;
}
.box16 {
    grid-column: span 4;
    grid-row: span 1;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #cccccc;
}
.box16-titulo {
    font: normal 12px/120px '77995aba';
    text-transform: uppercase;
    color: #8c8c8c;
    margin: 0;
}